In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('gdp.csv')
df.head()

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

## 1) How many unique Countries Data we're having in the dataset?

In [2]:
c=0
for i in df['Country Name'].unique():
    c+=1
print(c)

256

## 2) How many years of Data we're having for India

In [3]:
df[df['Country Name']=='India'].count()

Country Name    57
Country Code    57
Year            57
Value           57
dtype: int64

## 3) Whats the world GDP in 1969?

In [25]:
# df[df['Year']==1969]
# df.groupby(df['Year']==1969).sum()['Value']
   # if(df['Year']==1969):

# df.groupby(['Country Name','Year']).get_group(("World",1969))

# df.groupby('Year').sum('Value')
df_country = df[df['Country Name']=='India']
df_country_yr_val = df_country.loc[:,['Year','Value']]
df_country_yr_val

      Year         Value
6074  1960  3.653593e+10
6075  1961  3.870910e+10
6076  1962  4.159907e+10
6077  1963  4.777600e+10
6078  1964  5.572687e+10
6079  1965  5.876042e+10
6080  1966  4.525364e+10
6081  1967  4.946617e+10
6082  1968  5.237732e+10
6083  1969  5.766833e+10
6084  1970  6.158980e+10
6085  1971  6.645256e+10
6086  1972  7.050991e+10
6087  1973  8.437454e+10
6088  1974  9.819828e+10
6089  1975  9.715922e+10
6090  1976  1.013470e+11
6091  1977  1.198667e+11
6092  1978  1.354688e+11
6093  1979  1.509508e+11
6094  1980  1.838399e+11
6095  1981  1.909095e+11
6096  1982  1.980377e+11
6097  1983  2.153508e+11
6098  1984  2.093282e+11
6099  1985  2.294103e+11
6100  1986  2.456647e+11
6101  1987  2.753114e+11
6102  1988  2.926327e+11
6103  1989  2.920933e+11
6104  1990  3.166973e+11
6105  1991  2.665023e+11
6106  1992  2.843639e+11
6107  1993  2.755704e+11
6108  1994  3.229099e+11
6109  1995  3.554760e+11
6110  1996  3.876560e+11
6111  1997  4.103203e+11
6112  1998  4.157309e+11
6113  1999  4.527000e+11
6114  2000  4.621468e+11
6115  2001  4.789655e+11
6116  2002  5.080690e+11
6117  2003  5.995929e+11
6118  2004  6.996889e+11
6119  2005  8.089011e+11
6120  2006  9.203165e+11
6121  2007  1.201112e+12
6122  2008  1.186953e+12
6123  2009  1.323940e+12
6124  2010  1.656617e+12
6125  2011  1.823050e+12
6126  2012  1.827638e+12
6127  2013  1.856722e+12
6128  2014  2.035393e+12
6129  2015  2.089865e+12
6130  2016  2.263792e+12

In [36]:
# df_country_yr_val_pr = df_country_yr_val[df_country_yr_val['Year']==1969]
# df_country_yr_val_pr

df_country_yr_val_pr = df_country_yr_val[(df_country_yr_val['Year'] >= 1960) & (df_country_yr_val['Year'] <= 2016)]
df_country_yr_val_pr

      Year         Value
6074  1960  3.653593e+10
6075  1961  3.870910e+10
6076  1962  4.159907e+10
6077  1963  4.777600e+10
6078  1964  5.572687e+10
6079  1965  5.876042e+10
6080  1966  4.525364e+10
6081  1967  4.946617e+10
6082  1968  5.237732e+10
6083  1969  5.766833e+10
6084  1970  6.158980e+10
6085  1971  6.645256e+10
6086  1972  7.050991e+10
6087  1973  8.437454e+10
6088  1974  9.819828e+10
6089  1975  9.715922e+10
6090  1976  1.013470e+11
6091  1977  1.198667e+11
6092  1978  1.354688e+11
6093  1979  1.509508e+11
6094  1980  1.838399e+11
6095  1981  1.909095e+11
6096  1982  1.980377e+11
6097  1983  2.153508e+11
6098  1984  2.093282e+11
6099  1985  2.294103e+11
6100  1986  2.456647e+11
6101  1987  2.753114e+11
6102  1988  2.926327e+11
6103  1989  2.920933e+11
6104  1990  3.166973e+11
6105  1991  2.665023e+11
6106  1992  2.843639e+11
6107  1993  2.755704e+11
6108  1994  3.229099e+11
6109  1995  3.554760e+11
6110  1996  3.876560e+11
6111  1997  4.103203e+11
6112  1998  4.157309e+11
6113  1999  4.527000e+11
6114  2000  4.621468e+11
6115  2001  4.789655e+11
6116  2002  5.080690e+11
6117  2003  5.995929e+11
6118  2004  6.996889e+11
6119  2005  8.089011e+11
6120  2006  9.203165e+11
6121  2007  1.201112e+12
6122  2008  1.186953e+12
6123  2009  1.323940e+12
6124  2010  1.656617e+12
6125  2011  1.823050e+12
6126  2012  1.827638e+12
6127  2013  1.856722e+12
6128  2014  2.035393e+12
6129  2015  2.089865e+12
6130  2016  2.263792e+12

## 4) Whats the % of GDP growth of India in Year 1994 (*as compare to 1993)?

In [5]:
df.groupby(df['Country Name']=='India').sum()['Year']/df.groupby(df['Country Name']=='India').sum()['Year']

Country Name
False    1.0
True     1.0
Name: Year, dtype: float64

In [6]:
df.groupby('Country Name').sum()['Year']

Country Name
Afghanistan            75487
Albania                66000
Algeria               113316
American Samoa         30135
Andorra                93671
                       ...
West Bank and Gaza     46115
World                 113316
Yemen, Rep.            54081
Zambia                113316
Zimbabwe              113316
Name: Year, Length: 256, dtype: int64

In [9]:
df.groupby(df['Year']==1994).sum()['Value']

Year
False    1.137134e+16
True     2.043832e+14
Name: Value, dtype: float64

In [55]:
for i in df:
    if(i[0]=='India' and i[2]==1994):
        x=i[3]
    if(i[0]=='India' and i[2]==1993):
        y=i[3]
z=x-y
a=z/x*100
print(round(a,2))

14.66

# Tasks

### 1) Find GDP Growth of India from 1960 - 2016
### 2) Create a new columns named as GDP which shows the GDP growth of each country for that year
### 3) Create a graph of GDP Growth of India from 1960 - 2016

In [127]:
df = df.values

In [128]:
df

array([['Arab World', 'ARB', 1968, 25760683041.0857],
       ['Arab World', 'ARB', 1969, 28434203615.4829],
       ['Arab World', 'ARB', 1970, 31385499664.0672],
       ...,
       ['Zimbabwe', 'ZWE', 2014, 15891049235.9908],
       ['Zimbabwe', 'ZWE', 2015, 16304667807.0657],
       ['Zimbabwe', 'ZWE', 2016, 16619960401.9038]], dtype=object)

In [104]:
df.groupby('Year').groups

{1960: [49, 133, 190, 247, 304, 361, 418, 531, 605, 662, 719, 776, 833, 927, 984, 1041, 1098, 1155, 1244, 1486, 1543, 1600, 1746, 1803, 1907, 1964, 2021, 2078, 2135, 2192, 2249, 2306, 2377, 2668, 2725, 2809, 2903, 3014, 3071, 3128, 3185, 3276, 3356, 3413, 3559, 3616, 3710, 3749, 3806, 3865, 3922, 3989, 4046, 4103, 4197, 4253, 4310, 4367, 4561, 4688, 4745, 5055, 5112, 5169, 5262, 5444, 5501, 5659, 5794, 5877, 5934, 6017, 6074, 6181, 6236, 6277, 6355, 6412, 6469, 6526, 6662, 6766, 7003, 7060, 7207, 7326, 7383, 7440, 7667, 7765, 7971, 8129, 8186, 8279, 8363, 8420, 8492, 8601, 8685, 8742, ...], 1961: [50, 134, 191, 248, 305, 362, 419, 532, 606, 663, 720, 777, 834, 928, 985, 1042, 1099, 1156, 1245, 1487, 1544, 1601, 1747, 1804, 1908, 1965, 2022, 2079, 2136, 2193, 2250, 2307, 2378, 2669, 2726, 2810, 2904, 3015, 3072, 3129, 3186, 3277, 3357, 3414, 3560, 3617, 3711, 3750, 3807, 3866, 3923, 3990, 4047, 4104, 4198, 4254, 4311, 4368, 4562, 4689, 4746, 5056, 5113, 5170, 5263, 5445, 5502, 5660, 5795, 5878, 5935, 6018, 6075, 6182, 6237, 6278, 6356, 6413, 6470, 6527, 6663, 6767, 7004, 7061, 7208, 7327, 7384, 7441, 7668, 7766, 7972, 8130, 8187, 8280, 8364, 8421, 8493, 8602, 8686, 8743, ...], 1962: [51, 135, 192, 249, 306, 363, 420, 533, 607, 664, 721, 778, 835, 929, 986, 1043, 1100, 1157, 1246, 1488, 1545, 1602, 1748, 1805, 1909, 1966, 2023, 2080, 2137, 2194, 2251, 2308, 2379, 2568, 2670, 2727, 2811, 2905, 3016, 3073, 3130, 3187, 3278, 3358, 3415, 3561, 3618, 3712, 3751, 3808, 3867, 3924, 3991, 4048, 4105, 4199, 4255, 4312, 4369, 4563, 4690, 4747, 4906, 5057, 5114, 5171, 5264, 5446, 5503, 5661, 5796, 5879, 5936, 6019, 6076, 6183, 6238, 6279, 6357, 6414, 6471, 6528, 6664, 6768, 7005, 7062, 7209, 7328, 7385, 7442, 7669, 7767, 7973, 8131, 8188, 8281, 8365, 8422, 8494, 8603, ...], 1963: [52, 136, 193, 250, 307, 364, 421, 534, 608, 665, 722, 779, 836, 930, 987, 1044, 1101, 1158, 1247, 1489, 1546, 1603, 1749, 1806, 1910, 1967, 2024, 2081, 2138, 2195, 2252, 2309, 2380, 2569, 2671, 2728, 2812, 2906, 3017, 3074, 3131, 3188, 3279, 3359, 3416, 3562, 3619, 3713, 3752, 3809, 3868, 3925, 3992, 4049, 4106, 4200, 4256, 4313, 4370, 4564, 4691, 4748, 4907, 5058, 5115, 5172, 5265, 5447, 5504, 5662, 5797, 5880, 5937, 6020, 6077, 6184, 6239, 6280, 6358, 6415, 6472, 6529, 6665, 6769, 7006, 7063, 7210, 7329, 7386, 7443, 7670, 7768, 7974, 8132, 8189, 8282, 8366, 8423, 8495, 8604, ...], 1964: [53, 137, 194, 251, 308, 365, 422, 535, 609, 666, 723, 780, 837, 931, 988, 1045, 1102, 1159, 1248, 1490, 1547, 1604, 1750, 1807, 1911, 1968, 2025, 2082, 2139, 2196, 2253, 2310, 2381, 2570, 2672, 2729, 2813, 2907, 3018, 3075, 3132, 3189, 3280, 3360, 3417, 3563, 3620, 3714, 3753, 3810, 3869, 3926, 3993, 4050, 4107, 4201, 4257, 4314, 4371, 4565, 4692, 4749, 4908, 5059, 5116, 5173, 5266, 5448, 5505, 5663, 5798, 5881, 5938, 6021, 6078, 6185, 6240, 6281, 6359, 6416, 6473, 6530, 6666, 6770, 7007, 7064, 7211, 7330, 7387, 7444, 7671, 7769, 7975, 8133, 8190, 8283, 8367, 8424, 8496, 8605, ...], 1965: [54, 138, 195, 252, 309, 366, 423, 536, 610, 667, 724, 781, 838, 932, 989, 1046, 1103, 1160, 1249, 1337, 1491, 1548, 1605, 1751, 1808, 1912, 1969, 2026, 2083, 2140, 2197, 2254, 2311, 2382, 2571, 2673, 2730, 2814, 2908, 3019, 3076, 3133, 3190, 3281, 3361, 3418, 3470, 3564, 3621, 3715, 3754, 3811, 3870, 3927, 3994, 4051, 4108, 4202, 4258, 4315, 4372, 4566, 4693, 4750, 4802, 4854, 4909, 5060, 5117, 5174, 5226, 5267, 5449, 5506, 5664, 5799, 5882, 5939, 6022, 6079, 6186, 6282, 6360, 6417, 6474, 6531, 6583, 6667, 6771, 6840, 7008, 7065, 7212, 7331, 7388, 7445, 7672, 7770, 7976, 8134, ...], 1966: [55, 139, 196, 253, 310, 367, 424, 537, 611, 668, 725, 782, 839, 933, 990, 1047, 1104, 1161, 1250, 1338, 1492, 1549, 1606, 1752, 1809, 1913, 1970, 2027, 2084, 2141, 2198, 2255, 2312, 2383, 2572, 2674, 2731, 2815, 2909, 3020, 3077, 3134, 3191, 3282, 3362, 3419, 3471, 3565, 3622, 3716, 3755, 3812, 3871, 3928, 3995, 4052, 4109, 4203, 4259, 4316, 4373, 4567, 4694, 4751, 4803, 4855, 4910, 5061, 5118, 5175, 5227, 5268, 5319, 5450, 5507, 5665, 5800, 5883, 5940, 6023, 6080, 6187, 6283, 6361, 6418, 6475, 6532, 6584, 6668, 6772, 6841, 7009, 7066, 7213, 7332, 7389, 7446, 7673, 7771, 7977, ...], 1967: [56, 140, 197, 254, 311, 368, 425, 538, 612, 669, 726, 783, 840, 934, 991, 1048, 1105, 1162, 1251, 1339, 1493, 1550, 1607, 1753, 1810, 1914, 1971, 2028, 2085, 2142, 2199, 2256, 2313, 2384, 2573, 2675, 2732, 2816, 2910, 3021, 3078, 3135, 3192, 3283, 3363, 3420, 3472, 3566, 3623, 3717, 3756, 3813, 3872, 3929, 3996, 4053, 4110, 4204, 4260, 4317, 4374, 4568, 4695, 4752, 4804, 4856, 4911, 5062, 5119, 5176, 5228, 5269, 5320, 5451, 5508, 5666, 5801, 5884, 5941, 6024, 6081, 6131, 6188, 6284, 6362, 6419, 6476, 6533, 6585, 6669, 6773, 6842, 7010, 7067, 7214, 7333, 7390, 7447, 7534, 7674, ...], 1968: [0, 57, 141, 198, 255, 312, 369, 426, 539, 613, 670, 727, 784, 841, 935, 992, 1049, 1106, 1163, 1252, 1340, 1389, 1494, 1551, 1608, 1754, 1811, 1915, 1972, 2029, 2086, 2143, 2200, 2257, 2314, 2385, 2574, 2676, 2733, 2817, 2911, 3022, 3079, 3136, 3193, 3284, 3364, 3421, 3473, 3567, 3624, 3718, 3757, 3814, 3873, 3930, 3997, 4054, 4111, 4205, 4261, 4318, 4375, 4569, 4696, 4753, 4805, 4857, 4912, 5063, 5120, 5177, 5229, 5270, 5321, 5452, 5509, 5667, 5802, 5885, 5942, 6025, 6082, 6132, 6189, 6241, 6285, 6363, 6420, 6477, 6534, 6586, 6670, 6774, 6843, 7011, 7068, 7215, 7334, 7391, ...], 1969: [1, 58, 142, 199, 256, 313, 370, 427, 540, 614, 671, 728, 785, 842, 936, 993, 1050, 1107, 1164, 1253, 1341, 1390, 1495, 1552, 1609, 1755, 1812, 1916, 1973, 2030, 2087, 2144, 2201, 2258, 2315, 2386, 2575, 2677, 2734, 2818, 2912, 3023, 3080, 3137, 3194, 3285, 3365, 3422, 3474, 3568, 3625, 3719, 3758, 3815, 3874, 3931, 3998, 4055, 4112, 4206, 4262, 4319, 4376, 4570, 4697, 4754, 4806, 4858, 4913, 5064, 5121, 5178, 5230, 5271, 5322, 5453, 5510, 5668, 5803, 5886, 5943, 6026, 6083, 6133, 6190, 6242, 6286, 6364, 6421, 6478, 6535, 6587, 6671, 6775, 6844, 7012, 7069, 7216, 7335, 7392, ...], 1970: [2, 59, 143, 200, 257, 314, 371, 428, 541, 615, 672, 729, 786, 843, 937, 994, 1051, 1108, 1165, 1254, 1342, 1391, 1496, 1553, 1610, 1657, 1756, 1813, 1860, 1917, 1974, 2031, 2088, 2145, 2202, 2259, 2316, 2387, 2449, 2576, 2678, 2735, 2819, 2913, 3024, 3081, 3138, 3195, 3286, 3366, 3423, 3475, 3569, 3626, 3720, 3759, 3816, 3875, 3932, 3999, 4056, 4113, 4207, 4263, 4320, 4377, 4446, 4571, 4698, 4755, 4807, 4859, 4914, 5065, 5122, 5179, 5231, 5272, 5323, 5397, 5454, 5511, 5558, 5669, 5747, 5804, 5887, 5944, 6027, 6084, 6134, 6191, 6243, 6287, 6365, 6422, 6479, 6536, 6588, 6672, ...], 1971: [3, 60, 144, 201, 258, 315, 372, 429, 542, 616, 673, 730, 787, 844, 938, 995, 1052, 1109, 1166, 1255, 1343, 1392, 1497, 1554, 1611, 1658, 1757, 1814, 1861, 1918, 1975, 2032, 2089, 2146, 2203, 2260, 2317, 2388, 2450, 2577, 2679, 2736, 2820, 2914, 3025, 3082, 3139, 3196, 3287, 3367, 3424, 3476, 3570, 3627, 3721, 3760, 3817, 3876, 3933, 4000, 4057, 4114, 4208, 4264, 4321, 4378, 4447, 4572, 4699, 4756, 4808, 4860, 4915, 5066, 5123, 5180, 5232, 5273, 5324, 5398, 5455, 5512, 5559, 5670, 5748, 5805, 5888, 5945, 6028, 6085, 6135, 6192, 6244, 6288, 6366, 6423, 6480, 6537, 6589, 6673, ...], 1972: [4, 61, 145, 202, 259, 316, 373, 430, 543, 617, 674, 731, 788, 845, 939, 996, 1053, 1110, 1167, 1256, 1344, 1393, 1498, 1555, 1612, 1659, 1758, 1815, 1862, 1919, 1976, 2033, 2090, 2147, 2204, 2261, 2318, 2389, 2451, 2578, 2680, 2737, 2821, 2915, 3026, 3083, 3140, 3197, 3288, 3368, 3425, 3477, 3571, 3628, 3722, 3761, 3818, 3877, 3934, 4001, 4058, 4115, 4209, 4265, 4322, 4379, 4448, 4573, 4700, 4757, 4809, 4861, 4916, 5067, 5124, 5181, 5233, 5274, 5325, 5399, 5456, 5513, 5560, 5671, 5749, 5806, 5889, 5946, 6029, 6086, 6136, 6193, 6245, 6289, 6367, 6424, 6481, 6538, 6590, 6674, ...], 1973: [5, 62, 146, 203, 260, 317, 374, 431, 544, 618, 675, 732, 789, 846, 940, 997, 1054, 1111, 1168, 1257, 1345, 1394, 1499, 1556, 1613, 1660, 1759, 1816, 1863, 1920, 1977, 2034, 2091, 2148, 2205, 2262, 2319, 2390, 2452, 2579, 2681, 2738, 2822, 2916, 3027, 3084, 3141, 3198, 3289, 3369, 3426, 3478, 3572, 3629, 3723, 3762, 3819, 3878, 3935, 4002, 4059, 4116, 4210, 4266, 4323, 4380, 4449, 4574, 4701, 4758, 4810, 4862, 4917, 5068, 5125, 5182, 5234, 5275, 5326, 5400, 5457, 5514, 5561, 5672, 5750, 5807, 5890, 5947, 6030, 6087, 6137, 6194, 6246, 6290, 6368, 6425, 6482, 6539, 6591, 6675, ...], 1974: [6, 63, 147, 204, 261, 318, 375, 432, 545, 619, 676, 733, 790, 847, 941, 998, 1055, 1112, 1169, 1258, 1346, 1395, 1500, 1557, 1614, 1661, 1760, 1817, 1864, 1921, 1978, 2035, 2092, 2149, 2206, 2263, 2320, 2391, 2453, 2580, 2682, 2739, 2823, 2917, 3028, 3085, 3142, 3199, 3290, 3370, 3427, 3479, 3573, 3630, 3724, 3763, 3820, 3879, 3936, 4003, 4060, 4117, 4211, 4267, 4324, 4381, 4450, 4575, 4702, 4759, 4811, 4863, 4918, 5069, 5126, 5183, 5235, 5276, 5327, 5401, 5458, 5515, 5562, 5673, 5751, 5808, 5891, 5948, 6031, 6088, 6138, 6195, 6247, 6291, 6369, 6426, 6483, 6540, 6592, 6676, ...], 1975: [7, 64, 148, 205, 262, 319, 376, 433, 546, 620, 677, 734, 791, 848, 942, 999, 1056, 1113, 1170, 1259, 1347, 1396, 1501, 1558, 1615, 1662, 1704, 1761, 1818, 1865, 1922, 1979, 2036, 2093, 2150, 2207, 2264, 2321, 2392, 2454, 2581, 2683, 2740, 2824, 2918, 3029, 3086, 3143, 3200, 3291, 3371, 3428, 3480, 3574, 3631, 3764, 3821, 3880, 3937, 4004, 4061, 4118, 4212, 4268, 4325, 4382, 4451, 4492, 4576, 4703, 4760, 4812, 4864, 4919, 5070, 5127, 5184, 5236, 5277, 5328, 5402, 5459, 5516, 5563, 5674, 5752, 5809, 5892, 5949, 6032, 6089, 6139, 6196, 6248, 6292, 6370, 6427, 6484, 6541, 6593, ...], 1976: [8, 65, 149, 206, 263, 320, 377, 434, 547, 621, 678, 735, 792, 849, 943, 1000, 1057, 1114, 1171, 1260, 1348, 1397, 1502, 1559, 1616, 1663, 1705, 1762, 1819, 1866, 1923, 1980, 2037, 2094, 2151, 2208, 2265, 2322, 2393, 2455, 2582, 2684, 2741, 2825, 2919, 3030, 3087, 3144, 3201, 3292, 3372, 3429, 3481, 3575, 3632, 3765, 3822, 3881, 3938, 4005, 4062, 4119, 4213, 4269, 4326, 4383, 4452, 4493, 4577, 4704, 4761, 4813, 4865, 4920, 5071, 5128, 5185, 5237, 5278, 5329, 5403, 5460, 5517, 5564, 5675, 5753, 5810, 5893, 5950, 6033, 6090, 6140, 6197, 6249, 6293, 6371, 6428, 6485, 6542, 6594, ...], 1977: [9, 66, 150, 207, 264, 321, 378, 435, 548, 622, 679, 736, 793, 850, 944, 1001, 1058, 1115, 1172, 1261, 1349, 1398, 1503, 1560, 1617, 1664, 1706, 1763, 1820, 1867, 1924, 1981, 2038, 2095, 2152, 2209, 2266, 2323, 2394, 2456, 2528, 2583, 2685, 2742, 2826, 2920, 3031, 3088, 3145, 3202, 3293, 3373, 3430, 3482, 3576, 3633, 3766, 3823, 3882, 3939, 4006, 4063, 4120, 4214, 4270, 4327, 4384, 4453, 4494, 4578, 4648, 4705, 4762, 4814, 4866, 4921, 5072, 5129, 5186, 5238, 5279, 5330, 5404, 5461, 5518, 5565, 5604, 5676, 5754, 5811, 5894, 5951, 6034, 6091, 6141, 6198, 6250, 6294, 6372, 6429, ...], 1978: [10, 67, 151, 208, 265, 322, 379, 436, 549, 623, 680, 737, 794, 851, 945, 1002, 1059, 1116, 1173, 1262, 1350, 1399, 1504, 1561, 1618, 1665, 1707, 1764, 1821, 1868, 1925, 1982, 2039, 2096, 2153, 2210, 2267, 2324, 2395, 2457, 2529, 2584, 2686, 2743, 2827, 2921, 3032, 3089, 3146, 3203, 3294, 3374, 3431, 3483, 3577, 3634, 3767, 3824, 3883, 3940, 4007, 4064, 4121, 4215, 4271, 4328, 4385, 4454, 4495, 4579, 4649, 4706, 4763, 4815, 4867, 5073, 5130, 5187, 5239, 5280, 5331, 5405, 5462, 5519, 5566, 5605, 5677, 5755, 5812, 5895, 5952, 6035, 6092, 6142, 6199, 6251, 6295, 6373, 6430, 6487, ...], 1979: [11, 68, 152, 209, 266, 323, 380, 437, 550, 624, 681, 738, 795, 852, 946, 1003, 1060, 1117, 1174, 1263, 1351, 1400, 1505, 1562, 1619, 1666, 1708, 1765, 1822, 1869, 1926, 1983, 2040, 2097, 2154, 2211, 2268, 2325, 2396, 2458, 2530, 2585, 2687, 2744, 2828, 2922, 3033, 3090, 3147, 3204, 3295, 3375, 3432, 3484, 3578, 3635, 3768, 3825, 3884, 3941, 4008, 4065, 4122, 4216, 4272, 4329, 4386, 4455, 4496, 4580, 4650, 4707, 4764, 4816, 4868, 5074, 5131, 5188, 5240, 5281, 5332, 5406, 5463, 5520, 5567, 5606, 5678, 5756, 5813, 5896, 5953, 6036, 6093, 6143, 6200, 6252, 6296, 6374, 6431, 6488, ...], 1980: [12, 69, 153, 210, 267, 324, 381, 438, 551, 625, 682, 739, 796, 853, 890, 947, 1004, 1061, 1118, 1175, 1264, 1352, 1401, 1506, 1563, 1620, 1667, 1709, 1766, 1823, 1870, 1927, 1984, 2041, 2098, 2155, 2212, 2269, 2326, 2397, 2459, 2531, 2586, 2688, 2745, 2829, 2866, 2923, 3034, 3091, 3148, 3205, 3239, 3296, 3376, 3433, 3485, 3522, 3579, 3636, 3673, 3769, 3826, 3885, 3942, 4009, 4066, 4123, 4160, 4217, 4273, 4330, 4387, 4456, 4497, 4581, 4651, 4708, 4765, 4817, 4869, 4922, 5075, 5132, 5189, 5241, 5282, 5333, 5407, 5464, 5521, 5568, 5607, 5679, 5757, 5814, 5897, 5954, 6037, 6094, ...], 1981: [13, 70, 154, 211, 268, 325, 382, 439, 552, 626, 683, 740, 797, 854, 891, 948, 1005, 1062, 1119, 1176, 1265, 1301, 1353, 1402, 1507, 1564, 1621, 1668, 1710, 1767, 1824, 1871, 1928, 1985, 2042, 2099, 2156, 2213, 2270, 2327, 2398, 2460, 2532, 2587, 2689, 2746, 2830, 2867, 2924, 3035, 3092, 3149, 3206, 3240, 3297, 3377, 3434, 3486, 3523, 3580, 3637, 3674, 3770, 3827, 3886, 3943, 4010, 4067, 4124, 4161, 4218, 4274, 4331, 4388, 4457, 4498, 4582, 4652, 4709, 4766, 4818, 4870, 4923, 5001, 5076, 5133, 5190, 5242, 5283, 5334, 5408, 5465, 5522, 5569, 5608, 5680, 5758, 5815, 5898, 5955, ...], 1982: [14, 71, 155, 212, 269, 326, 383, 440, 553, 627, 684, 741, 798, 855, 892, 949, 1006, 1063, 1120, 1177, 1266, 1302, 1354, 1403, 1508, 1565, 1622, 1669, 1711, 1768, 1825, 1872, 1929, 1986, 2043, 2100, 2157, 2214, 2271, 2399, 2461, 2533, 2588, 2690, 2747, 2831, 2868, 2925, 3036, 3093, 3150, 3207, 3241, 3298, 3378, 3435, 3487, 3524, 3581, 3638, 3675, 3771, 3828, 3887, 3944, 4011, 4068, 4125, 4162, 4219, 4275, 4332, 4389, 4458, 4499, 4583, 4653, 4710, 4767, 4819, 4871, 4924, 5002, 5077, 5134, 5191, 5243, 5284, 5335, 5409, 5466, 5523, 5570, 5609, 5681, 5759, 5816, 5899, 5956, 6039, ...], 1983: [15, 72, 156, 213, 270, 327, 384, 441, 554, 628, 685, 742, 799, 856, 893, 950, 1007, 1064, 1121, 1178, 1267, 1303, 1355, 1404, 1509, 1566, 1623, 1670, 1712, 1769, 1826, 1873, 1930, 1987, 2044, 2101, 2158, 2215, 2272, 2400, 2462, 2534, 2589, 2691, 2748, 2832, 2869, 2926, 3037, 3094, 3151, 3208, 3242, 3299, 3379, 3436, 3488, 3525, 3582, 3639, 3676, 3772, 3829, 3888, 3945, 4012, 4069, 4126, 4163, 4220, 4276, 4333, 4390, 4459, 4500, 4584, 4654, 4711, 4768, 4820, 4872, 4925, 5003, 5078, 5135, 5192, 5244, 5285, 5336, 5410, 5467, 5524, 5571, 5610, 5682, 5760, 5817, 5900, 5957, 6040, ...], 1984: [16, 73, 157, 214, 271, 328, 385, 442, 555, 629, 686, 743, 800, 857, 894, 951, 1008, 1065, 1122, 1179, 1268, 1304, 1356, 1405, 1510, 1567, 1624, 1671, 1713, 1770, 1827, 1874, 1931, 1988, 2045, 2102, 2159, 2216, 2273, 2344, 2401, 2463, 2535, 2590, 2692, 2749, 2833, 2870, 2927, 3038, 3095, 3152, 3209, 3243, 3300, 3380, 3437, 3489, 3526, 3583, 3640, 3677, 3773, 3830, 3889, 3946, 4013, 4070, 4127, 4164, 4221, 4277, 4334, 4391, 4460, 4501, 4585, 4655, 4712, 4769, 4821, 4873, 4926, 5004, 5079, 5136, 5193, 5245, 5286, 5337, 5411, 5468, 5525, 5572, 5611, 5683, 5761, 5818, 5901, 5958, ...], 1985: [17, 74, 158, 215, 272, 329, 386, 443, 556, 630, 687, 744, 801, 858, 895, 952, 1009, 1066, 1123, 1180, 1212, 1269, 1305, 1357, 1406, 1511, 1568, 1625, 1672, 1714, 1771, 1828, 1875, 1932, 1989, 2046, 2103, 2160, 2217, 2274, 2345, 2402, 2464, 2496, 2536, 2591, 2693, 2750, 2834, 2871, 2928, 3039, 3096, 3153, 3210, 3244, 3301, 3381, 3438, 3490, 3527, 3584, 3641, 3678, 3774, 3831, 3890, 3947, 4014, 4071, 4128, 4165, 4222, 4278, 4335, 4392, 4461, 4502, 4586, 4618, 4656, 4713, 4770, 4822, 4874, 4927, 5005, 5080, 5137, 5194, 5246, 5287, 5338, 5412, 5469, 5526, 5573, 5612, 5684, 5762, ...], 1986: [18, 75, 159, 216, 273, 330, 387, 444, 557, 631, 688, 745, 802, 859, 896, 953, 1010, 1067, 1124, 1181, 1213, 1270, 1306, 1358, 1407, 1512, 1569, 1626, 1673, 1715, 1772, 1829, 1876, 1933, 1990, 2047, 2104, 2161, 2218, 2275, 2346, 2403, 2465, 2497, 2537, 2592, 2694, 2751, 2835, 2872, 2929, 3040, 3097, 3154, 3211, 3245, 3302, 3382, 3439, 3491, 3528, 3585, 3642, 3679, 3775, 3832, 3891, 3948, 4015, 4072, 4129, 4166, 4223, 4279, 4336, 4393, 4462, 4503, 4587, 4657, 4714, 4771, 4823, 4875, 4928, 5006, 5081, 5138, 5195, 5247, 5288, 5339, 5413, 5470, 5527, 5574, 5613, 5685, 5716, 5763, ...], 1987: [19, 76, 160, 217, 274, 331, 388, 445, 558, 632, 689, 746, 803, 860, 897, 954, 1011, 1068, 1125, 1182, 1214, 1271, 1307, 1359, 1408, 1513, 1570, 1627, 1674, 1716, 1773, 1830, 1877, 1934, 1991, 2048, 2105, 2162, 2219, 2276, 2347, 2404, 2466, 2498, 2538, 2593, 2695, 2752, 2836, 2873, 2930, 3041, 3098, 3155, 3212, 3246, 3303, 3383, 3440, 3492, 3529, 3586, 3643, 3680, 3776, 3833, 3892, 3949, 4016, 4073, 4130, 4167, 4224, 4280, 4337, 4394, 4463, 4504, 4588, 4619, 4658, 4715, 4772, 4824, 4876, 4929, 5007, 5082, 5139, 5196, 5248, 5289, 5340, 5414, 5471, 5528, 5575, 5614, 5686, 5717, ...], 1988: [20, 77, 161, 218, 275, 332, 389, 446, 559, 633, 690, 747, 804, 861, 898, 955, 1012, 1069, 1126, 1183, 1215, 1272, 1308, 1360, 1409, 1514, 1571, 1628, 1675, 1717, 1774, 1831, 1878, 1935, 1992, 2049, 2106, 2163, 2220, 2277, 2348, 2405, 2467, 2499, 2539, 2594, 2696, 2753, 2837, 2874, 2931, 3042, 3099, 3156, 3213, 3247, 3304, 3384, 3441, 3493, 3530, 3587, 3644, 3681, 3777, 3834, 3893, 3950, 4017, 4074, 4131, 4168, 4225, 4281, 4338, 4395, 4464, 4505, 4589, 4620, 4659, 4716, 4773, 4825, 4877, 4930, 5008, 5083, 5140, 5197, 5249, 5290, 5341, 5415, 5472, 5529, 5576, 5615, 5687, 5718, ...], 1989: [21, 78, 162, 219, 276, 333, 390, 447, 475, 503, 560, 634, 691, 748, 805, 862, 899, 956, 1013, 1070, 1127, 1184, 1216, 1273, 1309, 1361, 1410, 1515, 1572, 1629, 1676, 1718, 1775, 1832, 1879, 1936, 1993, 2050, 2107, 2164, 2221, 2278, 2349, 2406, 2468, 2500, 2540, 2595, 2697, 2754, 2838, 2875, 2932, 3043, 3100, 3157, 3214, 3248, 3305, 3385, 3442, 3494, 3531, 3588, 3645, 3682, 3778, 3835, 3894, 3951, 4018, 4075, 4132, 4169, 4226, 4282, 4339, 4396, 4465, 4506, 4590, 4621, 4660, 4717, 4774, 4826, 4878, 4931, 5009, 5084, 5141, 5198, 5250, 5291, 5342, 5416, 5473, 5530, 5577, 5616, ...], 1990: [22, 79, 106, 163, 220, 277, 334, 391, 448, 476, 504, 561, 635, 692, 749, 806, 863, 900, 957, 1014, 1071, 1128, 1185, 1217, 1274, 1310, 1362, 1411, 1516, 1573, 1630, 1677, 1719, 1776, 1833, 1880, 1937, 1994, 2051, 2108, 2165, 2222, 2279, 2350, 2407, 2469, 2501, 2541, 2596, 2623, 2698, 2755, 2782, 2839, 2876, 2933, 2960, 2987, 3044, 3101, 3158, 3215, 3249, 3306, 3386, 3443, 3495, 3532, 3589, 3646, 3683, 3779, 3836, 3895, 3952, 4019, 4076, 4133, 4170, 4227, 4283, 4340, 4397, 4466, 4507, 4534, 4591, 4622, 4661, 4718, 4775, 4827, 4879, 4932, 5010, 5085, 5142, 5199, 5251, 5292, ...], 1991: [23, 80, 107, 164, 221, 278, 335, 392, 449, 477, 505, 562, 636, 693, 750, 807, 864, 901, 958, 1015, 1072, 1129, 1186, 1218, 1275, 1311, 1363, 1412, 1517, 1574, 1631, 1678, 1720, 1777, 1834, 1881, 1938, 1995, 2052, 2109, 2166, 2223, 2280, 2351, 2408, 2470, 2502, 2542, 2597, 2624, 2699, 2756, 2783, 2840, 2877, 2934, 2961, 2988, 3045, 3102, 3159, 3216, 3250, 3307, 3387, 3444, 3496, 3533, 3590, 3647, 3684, 3780, 3837, 3896, 3953, 4020, 4077, 4134, 4171, 4228, 4284, 4341, 4398, 4467, 4508, 4535, 4592, 4623, 4662, 4719, 4776, 4828, 4880, 4933, 5011, 5086, 5143, 5200, 5252, 5293, ...], 1992: [24, 81, 108, 165, 222, 279, 336, 393, 450, 478, 506, 563, 637, 694, 751, 808, 865, 902, 959, 1016, 1073, 1130, 1187, 1219, 1276, 1312, 1364, 1413, 1518, 1575, 1632, 1679, 1721, 1778, 1835, 1882, 1939, 1996, 2053, 2110, 2167, 2224, 2281, 2352, 2409, 2471, 2503, 2543, 2598, 2625, 2700, 2757, 2784, 2841, 2878, 2935, 2962, 2989, 3046, 3103, 3160, 3217, 3251, 3308, 3388, 3445, 3497, 3534, 3591, 3648, 3685, 3781, 3838, 3897, 3954, 4021, 4078, 4135, 4172, 4229, 4285, 4342, 4399, 4468, 4509, 4536, 4593, 4624, 4663, 4720, 4777, 4829, 4881, 4934, 4959, 5012, 5087, 5144, 5201, 5253, ...], 1993: [25, 82, 109, 166, 223, 280, 337, 394, 451, 479, 507, 564, 638, 695, 752, 809, 866, 903, 960, 1017, 1074, 1131, 1188, 1220, 1277, 1313, 1365, 1414, 1438, 1462, 1519, 1576, 1633, 1680, 1722, 1779, 1836, 1883, 1940, 1997, 2054, 2111, 2168, 2225, 2282, 2353, 2410, 2472, 2504, 2544, 2599, 2626, 2701, 2758, 2785, 2842, 2879, 2936, 2963, 2990, 3047, 3104, 3161, 3

In [ ]:
for i in df:
    if(i[2]>1959 and i[2]<2017):
      print(i[2])

In [139]:
for i in df:
    if(i[0]=='India' and i[2]==1994):
         x=i[3]
print(x)

322909902308.131

In [134]:
df.groupby(['Country Name','Year']).get_group(('India',1994))

     Country Name Country Code  Year         Value
6108        India          IND  1994  3.229099e+11

In [140]:
df.groupby(['Country Name','Year']).get_group(('India',1993))

     Country Name Country Code  Year         Value
6107        India          IND  1993  2.755704e+11

In [144]:
df.groupby(['Year']).get_group((1969))

,Country Name,Country Code,Year,Value
1,Arab World,ARB,1969,2.843420e+10
58,Caribbean small states,CSS,1969,3.563688e+09
142,Early-demographic dividend,EAR,1969,2.633785e+11
199,East Asia & Pacific,EAS,1969,3.461594e+11
256,East Asia & Pacific (excluding high income),EAP,1969,1.142179e+11
...,...,...,...,...
11095,Uruguay,URY,1969,2.004435e+09
11217,"Venezuela, RB",VEN,1969,1.179504e+10
11304,Virgin Islands (U.S.),VIR,1969,2.113000e+08
11402,Zambia,ZMB,1969,1.965714e+09
11459,Zimbabwe,ZWE,1969,1.747999e+09

In [106]:
df.groupby('Country Name').sum()['Value']

Country Name
Afghanistan           2.366034e+11
Albania               1.983750e+11
Algeria               3.504056e+12
American Samoa        8.708000e+09
Andorra               6.901899e+10
                          ...
West Bank and Gaza    1.529138e+11
World                 1.487469e+15
Yemen, Rep.           4.715165e+11
Zambia                3.607919e+11
Zimbabwe              3.582267e+11
Name: Value, Length: 256, dtype: float64

In [120]:
df.groupby('Country Name').filter(lambda x: len(x)==2)

        Country Name Country Code  Year         Value
3863  Cayman Islands          CYM  1996  1.012444e+09
3864  Cayman Islands          CYM  2006  3.207033e+09

In [161]:
df.groupby('Value').groups

{8824447.74022325: [10816], 9122751.45318345: [4906], 9365165.91369372: [10817], 9630762.95389637: [10819], 9742949.47121034: [10818], 10840095.1283649: [4907], 10886825.5592923: [10820], 11025945.1445515: [10821], 11592024.3649978: [9463], 12012025.2477875: [9462], 12334846.2320995: [10822], 12366563.6119699: [9914], 12483229.3064224: [9915], 12541562.1536487: [9916], 12642026.5719722: [9464], 12700905.4475286: [10823], 12712471.3960211: [4908], 12757632.8684508: [10824], 12833226.3897801: [9917], 13066557.7786852: [10011], 13196544.946726: [10827], 13416554.8620428: [9918], 13593932.3220537: [9919], 13687141.1058778: [10825], 13708219.0981742: [10014], 13742057.0500928: [10826], 13923029.264481: [9465], 13999883.3343055: [10012], 14295279.5446937: [6719], 14469078.1796966: [9920], 14524878.959342: [10013], 14600000.0: [9922], 14758210.3482471: [10015], 15108207.4316047: [10016], 15278632.4786325: [6720], 15350000.0: [10019], 15393032.3542452: [9466], 15450994.2410084: [10828], 15603032.7956401: [9467], 15835177.9329133: [10018], 15850000.0: [9923], 16074027.3495878: [9470], 16099865.8344514: [10017], 16300000.0: [9924], 16443034.5612196: [9468], 16452027.9927472: [9471], 16632032.8138977: [9469], 16650000.0: [10020], 16742338.2519864: [9921], 18231078.5394643: [10829], 18432031.3616773: [9472], 18450000.0: [10021], 18936526.9461078: [6721], 19624746.4503043: [9925], 20051648.1847182: [10022], 20432742.1126982: [8119], 21534931.6075894: [10830], 21839098.8927071: [10831], 21965951.7214804: [9473], 22902861.4457831: [10832], 22944849.1155047: [9926], 24196018.3767228: [9927], 24200000.0: [11295], 25203524.0325638: [9682], 25700000.0: [11296], 27030374.0272781: [10833], 27101076.2751521: [10835], 27585488.9918284: [10023], 28071888.5622288: [3071], 28084252.7582748: [9683], 28606411.398041: [9684], 29964370.7125857: [3072], 30036416.9619944: [10579], 30095602.2944551: [9930], 30165373.6218865: [10024], 30290219.7617849: [10834], 30412308.9864012: [3356], 30645121.0127585: [9474], 31020000.0: [7631], 31514856.3078422: [9928], 31710657.7257811: [6722], 31823518.6204366: [10836], 31856922.8615428: [3073], 32085561.4973262: [6735], 32125148.4042182: [6734], 32506741.7201204: [10578], 32673277.7402149: [10841], 32792480.9729606: [10027], 32902336.644746: [3357], 32924215.8581726: [10025], 33237164.715642: [10026], 33364055.2995392: [9929], 33608738.2719507: [6736], 33749405.0118998: [3074], 34139387.8908849: [10580], 34218878.4390841: [10842], 34579308.4138317: [7003], 34918000.0: [7632], 35076158.4768305: [10182], 35643207.6265246: [3358], ...}

In [173]:
df.groupby(['Country Name','Year']).get_group(('India',2005))

     Country Name Country Code  Year         Value
6119        India          IND  2005  8.089011e+11

In [177]:
df_sum = df.groupby('Country Name').sum()['Value']

In [180]:
df_sum

Country Name
Afghanistan           2.366034e+11
Albania               1.983750e+11
Algeria               3.504056e+12
American Samoa        8.708000e+09
Andorra               6.901899e+10
                          ...
West Bank and Gaza    1.529138e+11
World                 1.487469e+15
Yemen, Rep.           4.715165e+11
Zambia                3.607919e+11
Zimbabwe              3.582267e+11
Name: Value, Length: 256, dtype: float64

In [185]:
groups = df.groupby('Country Name')

In [195]:
groups['Value'].agg([np.sum,np.mean])

C:\Users\SUN\AppData\Local\Temp\ipykernel_8700\445097668.py:1: FutureWarning: The provided callable <function sum at 0x0000023F7EA42200> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  groups['Value'].agg([np.sum,np.mean])
C:\Users\SUN\AppData\Local\Temp\ipykernel_8700\445097668.py:1: FutureWarning: The provided callable <function mean at 0x0000023F7EA432E0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  groups['Value'].agg([np.sum,np.mean])

                             sum          mean
Country Name
Afghanistan         2.366034e+11  6.226405e+09
Albania             1.983750e+11  6.011364e+09
Algeria             3.504056e+12  6.147467e+10
American Samoa      8.708000e+09  5.805333e+08
Andorra             6.901899e+10  1.468489e+09
...                          ...           ...
West Bank and Gaza  1.529138e+11  6.648426e+09
World               1.487469e+15  2.609594e+13
Yemen, Rep.         4.715165e+11  1.746357e+10
Zambia              3.607919e+11  6.329683e+09
Zimbabwe            3.582267e+11  6.284678e+09

[256 rows x 2 columns]